.layout-auth {
  inline-size: 100%;
  min-block-size: 100vh;
  background-color: $clr-3b3;
  padding-inline: rem(16);
  padding-block: rem(16) rem(50);
  position: relative;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(xxl) {
    padding-block: rem(78);
    padding-inline-end: rem(65);
  }
}

.auth-visual {
  max-block-size: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &-wrapper {
    display: none;
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
  }

  &-saloon,
  &-customer {
    inset-inline-end: 40%;
    inset-block-start: 0;
  }

  &-customer {
    align-items: flex-end;
  }

  &-customer & {
    justify-content: flex-end;

    img {
      max-inline-size: 145%;
    }
  }

  img {
    max-inline-size: 100%;
  }

  @include media-breakpoint-up(lg) {
    &-wrapper {
      display: flex;
    }
  }

  @include media-breakpoint-up(xxl) {
    &-saloon {
      inset-inline-end: 35%;
      inset-block-start: rem(45);
    }

    &-customer {
      inset-inline-end: 41%;
      inset-block-start: rem(45);
    }
  }

  @include media-breakpoint-between(lg, xl) {
    &-wrapper {
      align-items: flex-end;
    }
  }
}

.lang-switcher {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;

  .dropdown {
    &-toggle {
      display: flex;
      align-items: center;
      gap: rem(4);

      span,
      .icon {
        color: $clr-c17;
      }

      &,
      &:hover,
      &:focus,
      &:active {
        outline: none;
        background: transparent;
        border: none;
        box-shadow: none;
      }

      &:after {
        display: none;
      }
    }

    &-menu {
      min-inline-size: initial
    }

    &-item {
      color: $clr-c17;

      &:hover,
      &:focus,
      &:active {
        background-color: $clr-3b3;
        color: $clr-c17;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-block-end: rem(20);
  }
}

.auth-content {
  inline-size: 100%;
  margin: auto;

  .logo {
    margin-block-end: rem(40);
    display: flex;
    justify-content: center;

    img {
      inline-size: calc(100% - #{rem(32)});
      max-inline-size: rem(730);
    }
  }

  @include media-breakpoint-up(md) {
    inline-size: 75%;
  }

  @include media-breakpoint-up(lg) {
    margin-inline-start: 65%;
    inline-size: 26.5%;
  }

  @include media-breakpoint-up(xxl) {
    .logo {
      margin-block-end: rem(84);
    }
  }
}

.auth-form {
  font-family: $font-tertiary;

  .controls-group {
    display: flex;
    flex-direction: column;
    gap: rem(16);

    @include media-breakpoint-up(lg) {
      gap: rem(31);
    }
  }

  .cta-container,
  &.cta-option {
    display: flex;

    &:not(.text-start) {
      justify-content: flex-end;
    }
  }

  .cta-container {
    margin-block: rem(6) rem(36);
  }

  .cta-option {
    margin-block: rem(11) rem(20);
  }

  .cta {
    text-decoration: underline;
  }

  .form-info {
    margin-block-start: rem(6);
    color: $white;

    p {
      margin: 0;
    }

    &.info-multi-line {
      margin-block-start: rem(30);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: rem(3);
    }
  }

  &.pallet-salon {
    .cta {
      color: $clr-c17;

      &:hover {
        color: darken($clr-c17, 10%);
      }
    }

    .form-control-rounded {
      
      // &:focus {
      //   background-color: $clr-c19-alpha;
      // }
    }

    .btn-rounded {
      background-color: $clr-945;

      &:hover {
        background-color: darken($clr-945, 10%);
      }
    }
  }

  &.pallet-customer {
    .cta {
      color: $clr-c78;

      &:hover {
        color: darken($clr-c78, 10%);
      }
    }

    .form-control-rounded {
      &,
      &:focus {
        background-color: $clr-453;
      }
    }

    .btn-rounded {
      background-color: $clr-c78;

      &:hover {
        background-color: darken($clr-c78, 10%);
      }
    }
  }
}


.otp-controls-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(15);

  .form-control-rounded {
    text-align: center;
    font-size: calc-font-size(24, 35);
    padding-inline: 0;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
