:root {
    --body-color: #E6DFDE;

    --plump: #CBC0EA;
    --plump-gradient: linear-gradient(180deg, rgba(204, 196, 227, 0) 0%, rgba(204, 196, 227, 0.41) 7.29%, #9688BD 100%); 

    --light-blue: #A7CCFF;
    --dark-blue: #28448D;
    
    --light-green: #AFEA95;
    --dark-green: #03781D;

    --light-brown: #945E5E;
    --dark-brown: #925D5E;
    
    --brown: #3C3C3B;
    --black: #000000;
    --white: #FFFFFF;

    --content-brown: #3C3841;

    --secondary-color: #484848;
    --secondary-color-500: #C4C4C4;

    --border-color: #9E9E9E;
    --border-radius: 15px;

    --primary-font: 'Poppins', sans-serif;

    --btn-hover: #D6D6D6;

    --color-danger: #FA4200;
    --color-danger-500: #FAD0C1;

    --modal-color: #F9F6F5;

    --fiel-bg: #FAFAFA;

    --checkin-bg: #8bd9f1;
    --checkin-color: rgba(5, 0, 225);

    --complete-bg: rgba(254, 188, 255);
    --complete-color: rgba(205, 28, 208);

    --noShow-bg: transparent;
    --noShow-color:rgba(135, 135, 135);

    --rating-color: #915D5D;

    --side-bar: #EB9584;
    --pink-gradient: linear-gradient(180deg, rgba(255, 255, 255) 27%, rgba(235, 149, 132, 0.55) 100%); 
}