@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?zddkaf');
  src: url('../fonts/icomoon/icomoon.eot?zddkaf#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?zddkaf') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?zddkaf') format('woff'),
  url('../fonts/icomoon/icomoon.svg?zddkaf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-access:before { content: "\e900";}
.icon-aeroplane:before { content: "\e901";}
.icon-american-express:before { content: "\e902";}
.icon-apple-pay:before { content: "\e903";}
.icon-arrow-left:before { content: "\e904";}
.icon-badge:before { content: "\e905";}
.icon-beauty-eyelashes:before { content: "\e906";}
.icon-beauty-facial-treatment:before { content: "\e907";}
.icon-beauty-hair-dye:before { content: "\e908";}
.icon-beauty-make-up-kit:before { content: "\e909";}
.icon-beauty-nail-polish:before { content: "\e90a";}
.icon-beauty-scissors:before { content: "\e90b";}
.icon-beauty-skin-care:before { content: "\e90c";}
.icon-calendar:before { content: "\e90d";}
.icon-cardio:before { content: "\e90e";}
.icon-cart:before { content: "\e90f";}
.icon-cc-paypal:before { content: "\e910";}
.icon-certificate:before { content: "\e911";}
.icon-chalkboard-user:before { content: "\e912";}
.icon-chatbox:before { content: "\e913";}
.icon-check:before { content: "\e914";}
.icon-check-circle:before { content: "\e915";}
.icon-chevron-down:before { content: "\e916";}
.icon-chevron-left:before { content: "\e917";}
.icon-chevron-right:before { content: "\e918";}
.icon-chevron-up:before { content: "\e919";}
.icon-clock:before { content: "\e91a";}
.icon-clock-o:before { content: "\e91b";}
.icon-close:before { content: "\e91c";}
.icon-cosmetics:before { content: "\e91d";}
.icon-discover:before { content: "\e91e";}
.icon-dollar:before { content: "\e91f";}
.icon-easy-booking:before { content: "\e920";}
.icon-education:before { content: "\e921";}
.icon-envelope:before { content: "\e922";}
.icon-envelope-o:before { content: "\e923";}
.icon-exclamation-circle:before { content: "\e924";}
.icon-eyelashes:before { content: "\e925";}
.icon-facebook:before { content: "\e926";}
.icon-facial-treatment:before { content: "\e927";}
.icon-flag:before { content: "\e928";}
.icon-globe:before { content: "\e929";}
.icon-google-pay:before { content: "\e92a";}
.icon-hair-dye:before { content: "\e92b";}
.icon-heart-jewellery:before { content: "\e92c";}
.icon-instagram:before { content: "\e92d";}
.icon-language:before { content: "\e92e";}
.icon-leaf:before { content: "\e92f";}
.icon-location:before { content: "\e930";}
.icon-lotus:before { content: "\e931";}
.icon-loyality-card:before { content: "\e932";}
.icon-loyality-win:before { content: "\e933";}
.icon-make-up-kit:before { content: "\e934";}
.icon-massage:before { content: "\e935";}
.icon-mastercard:before { content: "\e936";}
.icon-phone:before { content: "\e937";}
.icon-scissors:before { content: "\e938";}
.icon-search:before { content: "\e939";}
.icon-security:before { content: "\e93a";}
.icon-skin-care:before { content: "\e93b";}
.icon-spinner:before { content: "\e93c";}
.icon-star:before { content: "\e93d";}
.icon-star-o:before { content: "\e93e";}
.icon-stars:before { content: "\e93f";}
.icon-travel-bag:before { content: "\e940";}
.icon-travel-beach-ball:before { content: "\e941";}
.icon-travel-bikini:before { content: "\e942";}
.icon-travel-cocktail:before { content: "\e943";}
.icon-travel-coconut:before { content: "\e944";}
.icon-twitter:before { content: "\e945";}
.icon-umbrella-sun:before { content: "\e946";}
.icon-user-circle-o:before { content: "\e947";}
.icon-virtual:before { content: "\e948";}
.icon-visa:before { content: "\e949";}
.icon-waiter:before { content: "\e94a";}
.icon-warning:before { content: "\e94b";}
.icon-wellness-functional:before { content: "\e94c";}
.icon-wellness-hiit:before { content: "\e94d";}
.icon-wellness-pilates:before { content: "\e94e";}
.icon-wellness-yoga:before { content: "\e94f";}
.icon-wellness-zumba:before { content: "\e950";}
.icon-work:before { content: "\e951";}
.icon-workshop:before { content: "\e952";}
